.modelbox{
    height:300px;
    width:300px;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    display:flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position:relative;
    border-radius: 15px;




}
.heading{
    color:#FF3FBE;
    font-size: 18px;
}

.circle{
    width:70%;
    height:70%;

}
.sub_text{
    font-size:15px ;
    line-height: 1.4rem;
}
.mainheading{
    font-size: 28px;
    font-weight: 800;
}
.about_container{
    width:80%;
    display:flex;
    flex-wrap:wrap ;
    gap:40px;
    justify-content: center;
    

}
.textbox div,.textbox button{
    margin-top:10px;
    margin-left:10px;

}
.percentage{
    position:absolute;
    top:50%;
    left:50%;
    transform: translate(-50%,-50%);
    font-size: 32px;
    font-weight: 800;
}
.about_text{
    margin-top: 10px;
}

.svgbox{
position: absolute;   
height:50px;
width:50px;
background-color: rgb(162, 82, 236); 
display:flex;
align-items: center;
justify-content: center;
border-radius: 10px;
}

.groups,.monitor{
    height:40px;
    width:40px;
}
.leftsvg{
    bottom:-25px;
    left:-25px;
}
.rightsvg{
    top:-25px;
    right:-25px;
}
.textbox{
    width:500px;
    height:fit-content;
}

.aboutcontainerwrapper{
    height:fit-content;
    margin-top:110px;
    width:100%;
    display:flex;
    justify-content: center;

}

@media(max-width:450px){
    .modelbox{
        width:250px;
        height:250px;
    }
    .svgbox{
        height:40px;
        width:40px;
    }
    .monitor,.groups{
        height:30px;
        width:30px;
    }
}
@media(max-width:400px){
    .sub_text{
        font-size: 12px;
    }
}
@media(max-width:350px){
    .previewimage{
        width:200px;
        height:150px;
    }
}

