.appfeatures_container{
    margin-top:50px;
    width:100%;
    height:fit-content;
    display:flex;
    flex-direction: column;
    align-items: center;
}
.appfeatures{
    margin-top:10px;
    font-size: 20px;
    font-weight: 700;
    text-align: center;
}
.cardswrapper{
    width:70%;
    display:flex;
    gap:20px;
}
.appfeautures_wrapper{
    padding-top: 50px;
}
.featurecard{
    margin-top:20px;
    width:calc((100% - 40px)/3);
    border-radius:10px;
    display:flex;
    flex-direction: column;
    align-items: center;
    gap:20px;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
    padding:50px 10px;
    margin-bottom:30px;


}

.featurename{
    font-size: 17px;
    font-weight: 600;
    padding:5px;
    text-align: center;
}
.featuredesc{
    padding:5px;
    text-align: center;

}
.featurephoto_wrapper{
    height:60px;
    width:60px;
    display:flex;
    align-items: center;
    justify-content: center;
    background-color:#e7e4fb;
    border-radius: 10px;


}
.featurephoto{
    height:27px;
    width:25px;
}

@media (max-width:1200px){
    .cardswrapper{
        width:90%;
    }

   
}

@media (max-width:800px){
    .featurecard{
        padding:30px 10px;
    }
}

@media (max-width:700px){
    .cardswrapper{
        flex-direction: column;
        align-items: center;
    }
    .featurecard{
        width:70%;
    }
}

@media (max-width:500px){
    .featurecard{
        width:90%;
    }
}